In [12]:
import pandas as pd

In [19]:
SI = pd.read_csv('https://raw.githubusercontent.com/liyangyang515/Spatio-Temporal-Patterns-of-NO2-and-Mobility-Through-the-Variants-of-COVID-19-in-SEA/main/data/stringency_index.csv')
SI = SI.rename({'Entity': 'country', 'Day':'date'}, axis='columns') 
SI

            country Code        date  stringency_index
0       Afghanistan  AFG  2020-01-21               0.0
1       Afghanistan  AFG  2020-01-22               0.0
2       Afghanistan  AFG  2020-01-23               0.0
3       Afghanistan  AFG  2020-01-24               0.0
4       Afghanistan  AFG  2020-01-25               0.0
...             ...  ...         ...               ...
145435     Zimbabwe  ZWE  2022-03-17              53.7
145436     Zimbabwe  ZWE  2022-03-18              53.7
145437     Zimbabwe  ZWE  2022-03-19              53.7
145438     Zimbabwe  ZWE  2022-03-20              53.7
145439     Zimbabwe  ZWE  2022-03-21              53.7

[145440 rows x 4 columns]

In [20]:
case_num = pd.read_csv('https://raw.githubusercontent.com/liyangyang515/Spatio-Temporal-Patterns-of-NO2-and-Mobility-Through-the-Variants-of-COVID-19-in-SEA/main/data/new_cases.csv')
case_num = case_num[['location', 'date', 'new_cases']].rename({'location': 'country'}, axis='columns') 
case_num

            country        date  new_cases
0       Afghanistan  2020-02-24        5.0
1       Afghanistan  2020-02-25        0.0
2       Afghanistan  2020-02-26        0.0
3       Afghanistan  2020-02-27        0.0
4       Afghanistan  2020-02-28        0.0
...             ...         ...        ...
171582     Zimbabwe  2022-03-23      273.0
171583     Zimbabwe  2022-03-24      236.0
171584     Zimbabwe  2022-03-25      451.0
171585     Zimbabwe  2022-03-26        0.0
171586     Zimbabwe  2022-03-27      175.0

[171587 rows x 3 columns]

In [21]:
merge = pd.merge(case_num, SI, how = 'inner', on = ['country', 'date'])
merge

            country        date  new_cases Code  stringency_index
0       Afghanistan  2020-02-24        5.0  AFG              8.33
1       Afghanistan  2020-02-25        0.0  AFG              8.33
2       Afghanistan  2020-02-26        0.0  AFG              8.33
3       Afghanistan  2020-02-27        0.0  AFG              8.33
4       Afghanistan  2020-02-28        0.0  AFG              8.33
...             ...         ...        ...  ...               ...
133885     Zimbabwe  2022-03-17        0.0  ZWE             53.70
133886     Zimbabwe  2022-03-18      362.0  ZWE             53.70
133887     Zimbabwe  2022-03-19      440.0  ZWE             53.70
133888     Zimbabwe  2022-03-20        0.0  ZWE             53.70
133889     Zimbabwe  2022-03-21      233.0  ZWE             53.70

[133890 rows x 5 columns]

In [24]:
merge['date'] =  pd.to_datetime(merge['date'], format='%Y-%m-%d')

In [25]:
merge['month'] = merge['date'].dt.month
merge['year'] = merge['date'].dt.year
merge

            country       date  new_cases Code  stringency_index  month  year
0       Afghanistan 2020-02-24        5.0  AFG              8.33      2  2020
1       Afghanistan 2020-02-25        0.0  AFG              8.33      2  2020
2       Afghanistan 2020-02-26        0.0  AFG              8.33      2  2020
3       Afghanistan 2020-02-27        0.0  AFG              8.33      2  2020
4       Afghanistan 2020-02-28        0.0  AFG              8.33      2  2020
...             ...        ...        ...  ...               ...    ...   ...
133885     Zimbabwe 2022-03-17        0.0  ZWE             53.70      3  2022
133886     Zimbabwe 2022-03-18      362.0  ZWE             53.70      3  2022
133887     Zimbabwe 2022-03-19      440.0  ZWE             53.70      3  2022
133888     Zimbabwe 2022-03-20        0.0  ZWE             53.70      3  2022
133889     Zimbabwe 2022-03-21      233.0  ZWE             53.70      3  2022

[133890 rows x 7 columns]

In [27]:
# group by month, agg to mean
merge = merge.groupby(['year','month', 'country']).mean().reset_index()
merge

      year  month    country      new_cases  stringency_index
0     2020      1  Argentina            NaN          9.090000
1     2020      1  Australia       1.500000          5.560000
2     2020      1   Cambodia       0.200000          0.000000
3     2020      1     Canada       0.444444          2.780000
4     2020      1      China    1026.222222         58.336000
...    ...    ...        ...            ...               ...
4568  2022      3  Venezuela     241.857143         28.700000
4569  2022      3    Vietnam  221251.238095         65.743333
4570  2022      3      Yemen       1.428571         13.626667
4571  2022      3     Zambia     175.142857         27.780000
4572  2022      3   Zimbabwe     395.476190         53.700000

[4573 rows x 5 columns]

In [26]:
merge_by_month_location = pd.read_csv(r'D:\GitHub\NO2-in-South-East-Asia-_GE5219\data\merge_by_month.csv', index_col = 0)
merge_by_month_location

,year,month,country,lon,lat,surface-p,rainfall,u-wind,v-wind,dew-pt,2m-temp,facebook_movement,apple_driving,apple_walking,NO2,haze,day,wind_speed,log_facebook_movement,log_NO2
0,2020,4,Cambodia,102.375,13.375,99588.906587,0.000055,1.009447,0.800183,297.755655,302.958284,9866.916667,30.160833,54.775000,0.000022,0.329583,11.000000,1.373485,3.992086,2.326447
1,2020,4,Cambodia,102.625,12.625,98419.874739,0.000103,0.288882,0.914327,297.957171,300.887816,4803.785714,29.712857,53.131429,0.000015,0.078929,12.285714,1.189705,3.678232,2.154942
2,2020,4,Cambodia,102.625,13.625,100165.934463,0.000071,1.213856,0.630818,297.182420,303.895981,46850.366667,29.576667,53.308000,0.000028,0.263667,10.933333,1.546351,4.667009,2.442195
3,2020,4,Cambodia,102.875,11.875,98749.005813,0.000291,-0.065270,0.973107,297.752441,300.452378,830.428571,29.977857,53.937857,0.000012,0.282500,11.285714,1.055036,2.916106,2.050097
4,2020,4,Cambodia,102.875,13.875,99696.817108,0.000073,1.167571,0.897097,296.654551,303.947316,2124.900000,29.891333,53.321333,0.000024,0.263667,11.533333,1.590233,3.323871,2.367481
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48297,2021,12,Vietnam,109.125,13.625,98532.431429,0.000117,-1.293274,-2.858747,292.354138,295.609015,15257.142857,115.104286,173.645714,0.000017,1.008686,625.714286,3.148122,4.182456,2.204039
48298,2021,12,Vietnam,109.125,13.875,99824.314444,0.000090,-1.130772,-2.832361,293.145192,296.519608,131853.666667,114.762222,174.113333,0.000011,1.224133,624.888889,3.067054,5.119286,1.959053
48299,2021,12,Vietnam,109.125,14.125,99437.480000,0.000093,-0.542071,-3.355040,293.074601,296.568616,22824.111111,114.227778,173.412222,0.000011,1.235067,625.333333,3.453923,4.358376,1.991504
48300,2021,12,Vietnam,109.375,12.625,98121.587500,0.000171,-0.497003,-5.257456,293.356532,295.893207,1222.541667,113.576667,172.472500,0.000013,1.225600,625.833333,5.337642,3.086176,2.090218
48301,2021,12,Vietnam,109.375,12.875,99931.080000,0.000171,-0.953277,-4.952677,293.760319,296.725547,11054.150000,113.506000,172.545000,0.000010,1.064040,625.400000,5.099009,4.043501,1.972469

In [29]:
merge_all = pd.merge(merge_by_month_location, merge, how = 'left', on = ['year', 'month','country'])
merge_all

,year,month,country,lon,lat,surface-p,rainfall,u-wind,v-wind,dew-pt,...,apple_driving,apple_walking,NO2,haze,day,wind_speed,log_facebook_movement,log_NO2,new_cases,stringency_index
0,2020,4,Cambodia,102.375,13.375,99588.906587,0.000055,1.009447,0.800183,297.755655,...,30.160833,54.775000,0.000022,0.329583,11.000000,1.373485,3.992086,2.326447,0.433333,60.465333
1,2020,4,Cambodia,102.625,12.625,98419.874739,0.000103,0.288882,0.914327,297.957171,...,29.712857,53.131429,0.000015,0.078929,12.285714,1.189705,3.678232,2.154942,0.433333,60.465333
2,2020,4,Cambodia,102.625,13.625,100165.934463,0.000071,1.213856,0.630818,297.182420,...,29.576667,53.308000,0.000028,0.263667,10.933333,1.546351,4.667009,2.442195,0.433333,60.465333
3,2020,4,Cambodia,102.875,11.875,98749.005813,0.000291,-0.065270,0.973107,297.752441,...,29.977857,53.937857,0.000012,0.282500,11.285714,1.055036,2.916106,2.050097,0.433333,60.465333
4,2020,4,Cambodia,102.875,13.875,99696.817108,0.000073,1.167571,0.897097,296.654551,...,29.891333,53.321333,0.000024,0.263667,11.533333,1.590233,3.323871,2.367481,0.433333,60.465333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48297,2021,12,Vietnam,109.125,13.625,98532.431429,0.000117,-1.293274,-2.858747,292.354138,...,115.104286,173.645714,0.000017,1.008686,625.714286,3.148122,4.182456,2.204039,15908.870968,68.520000
48298,2021,12,Vietnam,109.125,13.875,99824.314444,0.000090,-1.130772,-2.832361,293.145192,...,114.762222,174.113333,0.000011,1.224133,624.888889,3.067054,5.119286,1.959053,15908.870968,68.520000
48299,2021,12,Vietnam,109.125,14.125,99437.480000,0.000093,-0.542071,-3.355040,293.074601,...,114.227778,173.412222,0.000011,1.235067,625.333333,3.453923,4.358376,1.991504,15908.870968,68.520000
48300,2021,12,Vietnam,109.375,12.625,98121.587500,0.000171,-0.497003,-5.257456,293.356532,...,113.576667,172.472500,0.000013,1.225600,625.833333,5.337642,3.086176,2.090218,15908.870968,68.520000
48301,2021,12,Vietnam,109.375,12.875,99931.080000,0.000171,-0.953277,-4.952677,293.760319,...,113.506000,172.545000,0.000010,1.064040,625.400000,5.099009,4.043501,1.972469,15908.870968,68.520000

In [31]:
merge_all.to_csv(r'D:\GitHub\NO2-in-South-East-Asia-_GE5219\data\merge_by_month_all.csv')